<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1><%= today %></h1>
    <ul>
        <% for(let i=0;i<newListItems.length;i++){ %>
        <li><input type="checkbox"><label for="<%=newListItems[i]%>"><%= newListItems[i]%></label></li>
        <% } %>

        <form action="/" method="post">
            <input type="text" name="newItem" placeholder="Enter Todo" autocomplete="off">
            <button type="submit">+</button>
        </form>
    </ul>
</body>
</html>